<div class="container">
  <div class="row">
    <div class = "col-9">
      <h1>レシピ投稿</h1>
    </div>
        <%= form_for(@recipe, url:recipe_path) do |f| %>

      <div class="form-group">
        <dt><%= f.label :"レシピタイトル" %></dt>
        <dd><%= f.text_field :name %></dd>
      </div>

      <div class="image_field">
        <dt><%= f.label :"トップ画像" %></dt>
        <%= attachment_image_tag @recipe, :recipe_image, id: "img_prev", fallback: "no-image.png", class: "recipe_image", size:"300x240" %>
        <dd><%= f.attachment_field :recipe_image %></dd>
      </div>

      <div class="form-group">
        <dt><%= f.label :"レシピの説明" %></dt>
        <dd><%= f.text_area :introduction %></dd>
      </div>

      <div class="form-group">
        <dt><%= f.label "ジャンル　" %></dt>
        <dd><%= f.collection_select :genre_id, Genre.all, :id, :name %></dd>
      </div>

      <div class="form-group">
        <dt><%= f.label :"かかった費用" %></dt>
        <dd><%= f.text_field :cost %></dd>
      </div>

      <div class="form-group">
        <dt><%= f.label :"所要時間" %></dt>
        <dd><%= f.text_field :time %></dd>
      </div>

      <div class="form-group">
        <dt><%= f.label :"材料・工具" %></dt>
        <dd><%= f.text_area :material %></dd>
      </div>

        <!-- ステップ入力 -->
        <dt>製作ステップ</dt>
        <div class="items">
          <% @recipe.steps.each.with_index do |s,index| %>
              # here you have both the 'question' object and the current 'index'
          <%= f.fields_for :steps do |step| %>
            <%= render 'step_fields', f: step,s:s %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'ステップを追加する',f, :steps %>
          </div>
            <%= f.submit '更新', class: "btn btn-primary btn-md" %>
        <% end %>
        <% end %>
        </div>
      <div>
        <%= link_to "削除",recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      </div>
  </div>
</div>

