<h1>レシピ投稿</h1>
<%= form_for(@recipe, url:recipes_path) do |f| %>

  <%= f.label :"レシピタイトル" %>
  <%= f.text_field :name %>

  <%= f.label :"トップ画像" %>
  <div class="image_field">
    <%= attachment_image_tag @recipe, :recipe_image, id: "img_prev", fallback: "no-image.png", class: "recipe_image", size:"300x240" %>
    <%= f.attachment_field :recipe_image %>
  </div>



  <%= f.label :"レシピの説明" %>
  <%= f.text_area :introduction %>

  <%= f.label :"かかった費用" %>
  <%= f.text_field :cost %>

  <%= f.label :"所要時間" %>
  <%= f.text_field :time %>

  <%= f.label :"材料・工具" %>
  <%= f.text_field :material %>

  <%= f.submit %>

<% end %>