<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><%= @recipe.name %></h3>
    </div>

    <div class="img_field">
      <%= attachment_image_tag @recipe, :recipe_image,:size =>'300x300' %>
    </div>

    <ul>

      <li><%= @recipe.introduction %></li>

      <li><%= @recipe.cost %></li> 

      <li><%= @recipe.time %></li>

      <li><%= @recipe.material %></li>

      <% @steps.each do |step| %>

      <div class="img_field">
        <%= attachment_image_tag step, :step_image,:size =>'200x200' %>
      </div>
        <%= step.description %>
        <%= step.step_order %>

    <% end %>

    <% if user_signed_in? %>
      <li><%= render 'recipes/favoriteform', recipe: @recipe%>
                  
      <li><%= form_for [@recipe, @comment] do |f| %>
          <%= f.text_area :comment_content %>
          <%= f.submit "コメントする" %>
          <% end %>
      </li>
   

      <li><% if @recipe.user.id == current_user.id %>
        <%= link_to "編集", edit_recipe_path(@recipe) %>
      <% end %>
      </li>
    </ul>
    
    <% end %>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user.name %></td>
      <td><%= comment.comment_content %></td>
      <td><%= link_to "削除", recipe_comment_path(@recipe, comment), method: :delete %></td>
    </tr>
  <% end %>
</tbody>


  </div>
</div>
