<div class="container">
  <div class="row">

    <div class="col-2">
      <div class="sidebar_content">
        <%= render 'layouts/genre_search', genres: @genres %>
     </div>
    </div>

    <div class="col-10">
      <span class="str">
        <h3><%= @recipe.name %></h3>
      </span>

        <div class="img_field">
          <%= attachment_image_tag @recipe, :recipe_image,:size =>'566x350' %>
        </div>

        <div class="introduction_field" title="レシピ説明">
          <%= @recipe.introduction %>
        </div>

        <div class="cost_field" title="かかった費用">
          <%= @recipe.cost %>
        </div>

        <div class="time_field" title="所要時間">
          <%= @recipe.time %>
        </div>

        <div class="material_field" title="材料・工具">
          <%= @recipe.material %>
        </div>

        <% @steps.each do |step| %>

        <div class="step_field" title="ステップ<%= step.step_order %>">
          <%= attachment_image_tag step, :step_image,:size =>'300x240' %>
            <%= step.description %>
        </div>

        <% end %>

          <% if user_signed_in? %>
            <%= render 'recipes/favoriteform', recipe: @recipe%>
                        
            <%= form_for [@recipe, @comment] do |f| %>
              <%= f.text_area :comment_content,:size =>'80x5' %>
              <%= f.submit "コメントする", class: "btn btn-radius-solid" %>
            <% end %>

            <div class="table-responsive">
              <table class="table table-condensed">
      
                <thead>
                    <th>コメント欄</th>

                       <% @comments.each do |comment| %>

                       <tr>
                          <td><%= comment.comment_content %></td>
                          <td><%= comment.user.name %>さん</td>
                          <td><%= link_to "コメント削除", recipe_comment_path(@recipe, comment), method: :delete %></td>
                        <% end %>
                      </tr>
                        <% if @recipe.user.id == current_user.id %>
                          <%= link_to("レシピを編集", edit_recipe_path(@recipe),{class: "btn btn-primary btn-md"}) %>
                        <% end %>
                      
                        <% end %>

                </thead>
              </table>
            </div>
  </div>
</div>
